/*******************************************************************************
//
//
//
//  #FORM
//
//
//
*******************************************************************************/

@use './src/assets/styles/_tools/_tools.functions' as functions;
@use './src/assets/styles/_tools/_tools.mixins' as mixins;

:root {
    --color-input-placeholder: var(--color-grey);
}

/*******************************************************************************
//
//  #FIELDSET
//
*******************************************************************************/

fieldset {
    padding: var(--spacer-sm);
}

/*******************************************************************************
//
//  #LEGEND
//
*******************************************************************************/

legend {
    display: block;
    padding: 0 var(--spacer-sm);
}

/*******************************************************************************
//
//  #LABEL
//
*******************************************************************************/

label {
    display: block;
}

/*******************************************************************************
//
//  #PLACEHOLDER
//
*******************************************************************************/

@include mixins.placeholder {
    color: var(--color-input-placeholder);
}

/*******************************************************************************
//
//  #INPUT AND TEXTAREA
//
*******************************************************************************/

input,
textarea {
    padding-bottom: functions.em(8px);
    color: var(--color-on-background);
    background: none;
    border: 0;
    border-bottom: 2px solid var(--color-on-background-border);
    border-radius: 0;

    &:focus {
        border-color: var(--color-accent);
        outline: 0;
    }
}

input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='text'] {
    appearance: none;
    width: 100%;
}

input[type='radio'],
input[type='checkbox'] {
    &:focus {
        outline: none;
    }
}

textarea {
    appearance: none;
    width: 100%;
    padding: functions.em(16px);
    border: 2px solid var(--color-on-background-border);
    resize: none;
}

/*******************************************************************************
//
//  #FILE
//
*******************************************************************************/

input[type='file'] {
    &:focus {
        outline: none;
    }
}

/*******************************************************************************
//
//  #SELECT
//
*******************************************************************************/

select {
    width: 100%;

    &[multiple],
    &[size] {
        height: auto;
    }

    &:focus {
        outline: none;
    }
}

/*******************************************************************************
//
//  #BUTTON
//
*******************************************************************************/

button {
    outline: 0;
}
