/*******************************************************************************
//
//
//
//  #LIST
//
//
//
*******************************************************************************/

@use './src/assets/styles/_tools/_tools.functions' as functions;

/*******************************************************************************
//
//  #ORDERED AND UNORDERED LISTS
//
*******************************************************************************/

ol,
ul {
    padding-left: 0;
    margin: 0 0 0 functions.em(18px);

    & ol,
    & ul {
        margin-top: functions.em(5px);
        margin-bottom: 0;
    }
}

/*******************************************************************************
//
//  #DEFINITION LISTS
//
*******************************************************************************/

dd {
    margin-left: var(--spacers-md);
}
dt {
    font-weight: 700;
}
