/*******************************************************************************
//
//
//
//  #HORIZONTAL REFERENCE
//
//
//
*******************************************************************************/

hr {
    height: 1px;
    margin: 0;
    background: var(--color-on-background);
    border: 0;
    outline: 0;
}
