/*******************************************************************************
//
//
//
//  #BUTTON
//
//
//
*******************************************************************************/

@use './src/assets/styles/_settings/_settings.fonts' as fonts;
@use './src/assets/styles/_tools/_tools.mixins' as mixins;

.o-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 0;
    position: relative;
    z-index: 1;
    color: var(--color-on-accent);
    font-family: var(--font-formula);
    font-size: var(--font-sm);
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;

    @include mixins.mq-at-least(md) {
        width: 140px;
        height: 140px;
        font-size: var(--font-base);
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--color-accent);
        border-radius: 50%;
        transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    &:active,
    &:focus,
    &:hover {
        color: var(--color-on-accent);

        &::after {
            transform: scale(0.9);
        }
    }

    &.disabled,
    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }
}
