//******************************************************************************
//
//
//
//  #FONTS
//
//  [1] https://www.modularscale.com/?16&px&1.3
//
//
//******************************************************************************

@use 'sass:math';

$fonts-size-base: 20px;
$fonts-line-height-base: 30px;
$fonts-line-height-ratio-base: math.div(
    $fonts-line-height-base,
    $fonts-size-base
);

$font-families: (
    formula: (
        formula_condensedbold,
        sans-serif,
    ),
    helvetica: (
        Helvetica,
        Arial,
        sans-serif,
    ),
    inconsolata: (
        Inconsolata,
        Helvetica,
        Arial,
        sans-serif,
    ),
    monaco: (
        Monaco,
        Menlo,
        Consolas,
        'Courier New',
        monospace,
    ),
);

// [1]
$font-sizes: (
    2xs: 0.455 * $fonts-size-base,
    xs: 0.592 * $fonts-size-base,
    sm: 0.769 * $fonts-size-base,
    base: 1 * $fonts-size-base,
    md: 1.3 * $fonts-size-base,
    lg: 1.69 * $fonts-size-base,
    xl: 2.197 * $fonts-size-base,
    2xl: 2.856 * $fonts-size-base,
    3xl: 3.713 * $fonts-size-base,
    4xl: 4.827 * $fonts-size-base,
    5xl: 6.275 * $fonts-size-base,
);

// [1]
$font-heading-sizes: (
    h1: 3.713 * $fonts-size-base,
    h2: 2.856 * $fonts-size-base,
    h3: 2.197 * $fonts-size-base,
    h4: 1.69 * $fonts-size-base,
    h5: 1.3 * $fonts-size-base,
    h6: 1 * $fonts-size-base,
);

$font-leading: (
    none: 1,
    xs: 1.25,
    sm: 1.375,
    base: 1.5,
    md: 1.625,
    lg: 2,
);

@mixin font-heading() {
    margin: 0;
    font-family: var(--font-formula);
    line-height: 1;
    text-transform: uppercase;

    a {
        color: inherit;
        font-weight: inherit;
    }
}
